## *operation on list*

### *create a list*

In [2]:
list1=[1,2,3,4]
list2=["afrah",18,"nila",22]
print("The list element is:",list1)
print("The list element of different values:",list2)

The list element is: [1, 2, 3, 4]
The list element of different values: ['afrah', 18, 'nila', 22]

### *Insert a element*

In [3]:
list1=[1,2,3,4]
list2=["afrah",18,"nila",22]
list1.insert(2,7)
list2.insert(2,"haya")
print("After Insert of the element:",list1)
print("After Insert of the element:",list2)

After Insert of the element: [1, 2, 7, 3, 4]
After Insert of the element: ['afrah', 18, 'haya', 'nila', 22]

### *Append element*

In [4]:
list1=[1,2,3,4]
list2=["afrah",18,"nila",22]
list1.append(20)
list2.append("haya")
print("After append:",list1)
print("After append:",list2)

After append: [1, 2, 3, 4, 20]
After append: ['afrah', 18, 'nila', 22, 'haya']

### *Update element*

In [5]:
list1=[1,2,3,4]
list2=["afrah",18,"nila",22]
list1[1]=10
list2[2]="haya"
print("After Update:",list1)
print("After Update:",list2)

After Update: [1, 10, 3, 4]
After Update: ['afrah', 18, 'haya', 22]

### *Delete element by index & value*

In [6]:
list1=[1,2,3,4]
del list1[0]
print("After deletion (By index):",list1)
list2=[1,2,3,4]
list2.remove(4)
print("After deletion (By value):",list2)

After deletion (By index): [2, 3, 4]
After deletion (By value): [1, 2, 3]

### *concatenate with another list*

In [7]:
list1=[1,2,3,4]
list2=["afrah",18,"nila",22]
concatenate=list1+list2
print("concatenated list:",concatenate)

concatenated list: [1, 2, 3, 4, 'afrah', 18, 'nila', 22]

### *Length of the list*

In [8]:
list1=[1,2,3,4]
print("The length of the list is:",len(list1))

The length of the list is: 4

### *Copy the list*

In [9]:
list1=[1,2,3,4]
copy_list=list1.copy()
print("copied list:",copy_list)

copied list: [1, 2, 3, 4]

## *Operation on tuple*

### *Create a tuple*

In [10]:
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

### *Print a element by indexing*

In [11]:
tuple=(1,2,3,4,5)
print("The element of the tuple is:",tuple)

The element of the tuple is: (1, 2, 3, 4, 5)

### *slicing a element*

In [12]:
tuple=(1,2,3,4,5)
print("After slicing a element:",tuple[1:4])

After slicing a element: (2, 3, 4)

### *Concatenate a tuple with another tuple*

In [13]:
tuple1=(1,2,3)
tuple2=(4,5,6)
con=tuple1+tuple2
print("Concatenate of tuple:",con)

Concatenate of tuple: (1, 2, 3, 4, 5, 6)

### *Repetation*

In [14]:
t=(1,2)
print("Repetation of the tuple:",t*3)

Repetation of the tuple: (1, 2, 1, 2, 1, 2)

### *Membership*

In [15]:
t=(1,2,3)
print(2 in t)

True

### *Length*

In [16]:
t=(1,2,3,4)
print("The length of the tuple is:",len(t))

The length of the tuple is: 4

### *Min & Max*

In [17]:
tuple=(10,50,70,80,30)
print("The maximum number of the tuple is :",max(tuple))
print("The lowest number of the tuple is :",min(tuple))

The maximum number of the tuple is : 80
The lowest number of the tuple is : 10

### *Count*

In [18]:
t=(1,2,4,6,2,7,8,2,1,7)
num=t.count(2)
print("The number of element present in tuple is:",num)

The number of element present in tuple is: 3

## *Operaton on set*

### *Create a set*

In [19]:
set={6,7,8,9,10}
print("Set element:",set)

Set element: {6, 7, 8, 9, 10}

### *Adding an element*

In [20]:
set={6,7,8,9,10}
set.add(11)
print("After adding an element:",set)

After adding an element: {6, 7, 8, 9, 10, 11}

### *Removing an element*

In [21]:
set={10,20,30,40,50}
set.remove(20)
print("After Remove:",set)

After Remove: {50, 40, 10, 30}

### *Union(A∪B)*

In [22]:
set1={1,2,3,4}
set2={5,6,7,8}
print("Union:",set1|set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}

### *Intersection(A∩B)*

In [23]:
set1={1,2,3,4}
set2={3,4,5,6}
print("Difference:",set1-set2)

Difference: {1, 2}

### *Symmetric Difference(A△B)*

In [24]:
set1={1,2,3,4}
set2={3,4,5,6}
print("Symmetric Difference:",set1-set2)

Symmetric Difference: {1, 2}

### *Set Relations*

In [25]:
set1={1,2,3}
set2={1,2,3,4,5}
print("Set1 is subset of set2:",set1.issubset(set2))
print("set2 is subset of set1:",set2.issubset(set1))
print("set2 is superset of set1:",set2.issuperset(set1))
print("set1 is disjoint with{6,7}:",set1.isdisjoint({6,7}))

Set1 is subset of set2: True
set2 is subset of set1: False
set2 is superset of set1: True
set1 is disjoint with{6,7}: True

### *Length*

set={1,10,30,50,100}
print("Length:",len(set))

## *Operations on Dictionary*

### *Create a Dictionary*

dict={"Name":"Afrah","Age":18,"City":"Trichy"}
print("Dictionary:",dict)

### *Accessing element*

In [26]:
dict={"Name":"Afrah","Age":18,"City":"Trichy"}
print("Dictionay;",dict["Name"])

Dictionay; Afrah

### *Updating*

In [27]:
dict={"Name":"Afrah","Age":18,"City":"Trichy"}
dict["Age"]=25
print("After updating age:",dict)

After updating age: {'Name': 'Afrah', 'Age': 25, 'City': 'Trichy'}

### *Adding element*

In [28]:
dict={"Name":"Afrah","Age":18,"City":"Trichy"}
dict["College"]="PMIST"
print("After adding:",dict)

After adding: {'Name': 'Afrah', 'Age': 18, 'City': 'Trichy', 'College': 'PMIST'}

### *Removing elements*

In [29]:
dict={"Name":"Afrah","Age":18,"City":"Trichy"}
dict.pop("City")
print("After pop:",dict)

After pop: {'Name': 'Afrah', 'Age': 18}

### *Loop through dictionary*

In [30]:
dict={"Age":18,"City":"Trichy"}
print("keys:")
for i in dict.keys():
    print(i)

keys:
Age
City